@{
    ViewData["Title"] = "Home Page";
}

<h5>Bu sehife aydina aiddir....</h5>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
